{% extends "base.html" %}

{% block title %}Add Items Form{% endblock %}

{% block content %}
    <h1 class="add-item-heading">Add Inventory Item</h1>
    <form action="{{ url_for('main.add_item') }}" method="POST" enctype="multipart/form-data" class="add-item-form">
        <div class="add-item-form-group">
            <label for="name" class="add-item-label">Name:</label>
            <input type="text" id="name" name="name" required class="add-item-input">
        </div>
        <div class="add-item-form-group">
            <label for="quantity" class="add-item-label">Quantity:</label>
            <input type="number" id="quantity" name="quantity" required class="add-item-input">
        </div>
        <div class="add-item-form-group">
            <label for="price" class="add-item-label">Price:</label>
            <input type="number" id="price" name="price" class="add-item-input">
        </div>
        <div class="add-item-form-group">
            <label for="description" class="add-item-label">Description:</label>
            <textarea id="description" name="description" class="add-item-textarea"></textarea>
        </div>
        
        <div class="add-item-form-group">
            <label for="category_id" class="add-item-label">Category:</label>
            <select id="category_id" name="category_id" class="add-item-select">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="add-item-form-group">
            <label for="supplier" class="add-item-label">Supplier:</label>
            <input type="text" id="supplier" name="supplier" class="add-item-input">
        </div>
        <button type="submit" class="add-item-btn">Add Item</button>
    </form>
{% endblock %}
