<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Inventory Management System{% endblock %}</title>
    
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/navbar.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='add_item.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='categories.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='logout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='update_item.css') }}">
    <link rel="stylesheet" href="/static/footer.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    {% include 'navbar.html' %}

        {% block content %}
        {% endblock %}
  

    {% include 'footer.html' %}

</body>
</html>
