<!-- <footer class="site-footer">
    <div class="footer-container">
        <div class="footer-links-container">
            <ul class="footer-links-list">
                <li><a href="{{ url_for('main.index') }}" class="footer-link">Home</a></li>
                <li><a href="{{ url_for('main.add_item') }}" class="footer-link">Add Item</a></li>
                <li><a href="{{ url_for('main.categories') }}" class="footer-link">Categories</a></li>
                <li><a href="{{ url_for('main.logout') }}" class="footer-link">Logout</a></li>
            </ul>
        </div>
        <div class="footer-info-container">
            <p class="footer-info-text">&copy; 2024 IMS. All rights reserved.</p>
        </div>
    </div>
</footer> -->
