<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form action="{{ url_for('main.login') }}" method="POST">
            <input type="text" id="username_or_email" name="username_or_email" class="input-field" placeholder="Username or Email">
            <input type="password" id="password" name="password" class="input-field" placeholder="Password">
            <input type="submit" value="Login" class="btn">
        </form>
        <p>Don't have an account? <a href="{{ url_for('main.register') }}" class="btn-register">Register</a></p>
    </div>
</body>
</html>
